# Ignore all files
*

# But don't ignore index.html
!index.html

# Don't ignore religious-spectrum files
!religious-spectrum/**
!religious-spectrum/

# Don't ignore electrohome files
!electrohome/**
!electrohome/

# Don't ignore flashcards files
!flashcards/**
!flashcards/

# Don't ignore tarjetas_variadas files
!tarjetas_variadas/**
!tarjetas_variadas/

# Don't ignore vaera files
!vaera/**
!vaera/

# Don't ignore dia_biblico files
!dia_biblico/**
!dia_biblico/

# Don't ignore estudio_galatas files
!estudio_galatas/**
!estudio_galatas/

# Don't ignore strong files
!strong/**
!strong/

# Don't ignore parejas files
!parejas/**
!parejas/

# Don't ignore bo files
!bo/**
!bo/

# Don't ignore beshalaj files
!beshalaj/**
!beshalaj/

# Don't ignore directories (so we can traverse them)
!*/

# Don't ignore .gitignore itself
!.gitignore

# Asegurarse de que los directorios de presentaciones no sean ignorados
!presentaciones/**
!presentaciones/slides/**
!presentaciones/slides/mishpatim_normas_divinas/**
!presentaciones/slides/mishpatim_orden_decretos_transformadores/**
!presentaciones/slides/retorno_raices_hebreas/**
!presentaciones/slides/yitro_de_esclavos_a_sacerdotes/**